$font50: 50px;
$font40: 40px;
$font32: 32px;
$font28: 28px;
$font20: 20px;
$font16: 16px;
$font15: 15px;
$font14: 14px;
$font13: 13px;
$deep_yellow: #ff8b42;
$white: white;
$deep_sky_blue: #0089ba;
$purple: #6e27e0;
$deep_sea: #273240;
$red: #ea5262;
$gray: #9e9f93;
$secondary: #0089ba;
$sky_blue_shadow: 0px 4px 4px rgba(0, 137, 186, 0.5);
$shadow: 5px 12px 12px 3px rgba(139, 139, 139, 0.25);
$poppins: "Poppins", sans-serif;
