@import "../../utils/variables.scss";

.footer {
  margin-top: 148px;
  padding-top: 140px;
  background: $deep_sea;
  color: $white;
  position: relative;

  p {
    font-weight: 300;
  }

  .flex {
    gap: 70px;
  }

  .f_title {
    font-size: $font20;
    font-weight: 500;
    margin-bottom: 34px;
  }

  .left {
    max-width: 413px;

    .logo {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 30px;

      img {
        width: 58px;
      }

      span {
        color: $deep_yellow;
        font-size: $font28;
        font-weight: 700;
      }
    }
    p {
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 35px;
    }

    .icon {
      display: flex;
      list-style: none;
      gap: 25px;

      li {
        width: 45px;
        height: 45px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $deep_yellow;
        cursor: pointer;
        font-size: 16px;
      }
    }
  }

  .middle {
    display: flex;
    gap: 90px;

    .items {
      width: 160px;

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        li {
          padding: 12px 0;
          font-size: $font16;
          font-weight: 300;
          border-bottom: 1px solid $white;
        }
      }

      &.address {
        max-width: 244px;
        width: 100%;

        ul {
          li {
            border: none;
          }
        }

        .flex {
          gap: 17px;

          span {
            font-size: 24px;
            color: $deep_yellow;
          }
        }
      }
    }
  }

  .right {
    p {
      margin-bottom: 30px;
    }

    .button {
      display: flex;
      gap: 17px;
      width: 190px;
      padding: 16px 0;
      align-items: center;
      justify-content: center;
    }
  }

  .copy_write {
    margin-top: 96px;
    padding: 55px 0;
  }

  .copy_write {
    border-top: 2px solid $white;
    font-weight: 300;
    font-size: $font15;

    .flex {
      justify-content: space-between;
    }
    .sub_title {
      text-align: left;
      margin: 0;
      font-size: $font15;
      font-weight: 300;
    }

    ul {
      display: flex;
      gap: 20px;
      list-style: none;
    }
  }
}
.top_button {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 113px;
  right: 100px;
  border-radius: 50%;
  color: $white;
  background: $deep_yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
